---
---
<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				{% include header.html %}

				<!-- Main -->
					<div id="main">
						<div class="social-feed-main"></div>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="/images/logo.png" alt="" /></a>
								<header>
									<h2>{{ site.data.main.header_1 }}</h2>
									<h3>{{ site.data.main.header_2 }}</h3>
								</header>
							</section>

						<!-- About -->
							<section id="about" class="blurb">
								<h2>About Us</h2>
								<p>{{ site.data.main.description }}</p>
								<ul class="actions">
									<li><a href="/about" class="button">Learn More</a></li>
								</ul>
							</section>

						<!-- Mini Posts
							<section>
								<div class="mini-posts">
									<div class="social-feed-sidebar"></div>
								</div>
							</section>
						-->
						
						<!-- Footer -->
							{% include footer.html %}

					</section>

			</div>

		<!-- Scripts -->
			{% include scripts.html %}
			<!-- Codebird.js - required for TWITTER -->
			<script src="/bower_components/codebird-js/codebird.js"></script>
			<!-- doT.js for rendering templates -->
			<script src="/bower_components/doT/doT.min.js"></script>
			<!-- Moment.js for showing "time ago" and/or "date"-->
			<script src="/bower_components/moment/min/moment.min.js"></script>
			<!-- Moment Locale to format the date to your language (eg. italian lang)-->
			<script src="/bower_components/moment/locale/en-ca.js"></script>
			<!-- Social-feed js -->
			<script src="/bower_components/social-feed/js/jquery.socialfeed.js"></script>
			<script>
			    jQuery(document).ready(function(){
			        jQuery('.social-feed-main').socialfeed({
					    facebook:{
					        accounts: ['!{{ site.data.socialfeed.facebook_account }}'],  //Array: Specify a list of accounts from which to pull wall posts
					        limit: {{ site.data.socialfeed.facebook_limit }},                                   //Integer: max number of posts to load
					        access_token: '{{ site.data.socialfeed.facebook_access_token }}'  //String: "APP_ID|APP_SECRET"
					    },
			            // GENERAL SETTINGS
			            length: 500,                                      //Integer: For posts with text longer than this length, show an ellipsis.
			            date_format: "MMMM D, YYYY h:mm a",
				    show_media: true
			        });
			    });
			</script>
	</body>
</html>