---
---
<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body style="background-color: #000000;">

		<!-- Memorial overlay -->
			<div id="overlay">
				<div id="memorial-frame">
					<div id="memorial-close-button">
						<a class="close-button" onclick="document.getElementById('overlay').style.display = 'none';">
							CLOSE&nbsp;&nbsp;&nbsp;X
						</a>
					</div>
					<div id="memorial-logo">
						<img src="/images/logo.png">
					</div>
					<div id="memorial-header">
						<p>In Memoriam</p>
					</div>
					<div id="memorial-content">
						<p>The members of the George H. W. Bush Composite Squadron express our deepest
						condolences to the surviving family of President George H. W. Bush. As with
						other Americans and those around the world, we mourn the loss and celebrate the
						extraordinary life of President Bush and his devoted commitment to public
						service.</p>
						<p>President Bush stood as a role model for all those who follow him in service
						to our country. His memory will forever live in the hearts and minds of our
						squadron's members, and as his namesake we shall relentlessly carry on his
						legacy of public service as we serve our community, state and nation.</p>
					</div>
				</div>
			</div>

		<!-- Wrapper -->
			<div id="wrapper" style="background-color: #f4f4f4">

				{% include header.html %}

				<!-- Main -->
					<div id="main">
						<div class="social-feed-main"></div>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="/images/logo.png" alt="" /></a>
								<header>
									<h2>{{ site.data.main.header_1 }}</h2>
									<h3>{{ site.data.main.header_2 }}</h3>
								</header>
							</section>

						<!-- About -->
							<section id="about" class="blurb">
								<h2>About Us</h2>
								<p>{{ site.data.main.description }}</p>
								<ul class="actions">
									<li><a href="/about" class="button">Learn More</a></li>
								</ul>
							</section>

						<!-- Mini Posts
							<section>
								<div class="mini-posts">
									<div class="social-feed-sidebar"></div>
								</div>
							</section>
						-->

						<!-- Footer -->
							{% include footer.html %}

					</section>

			</div>

		<!-- Scripts -->
			{% include scripts.html %}
			<!-- Codebird.js - required for TWITTER -->
			<script src="/bower_components/codebird-js/codebird.js"></script>
			<!-- doT.js for rendering templates -->
			<script src="/bower_components/doT/doT.min.js"></script>
			<!-- Moment.js for showing "time ago" and/or "date"-->
			<script src="/bower_components/moment/min/moment.min.js"></script>
			<!-- Moment Locale to format the date to your language (eg. italian lang)-->
			<script src="/bower_components/moment/locale/en-ca.js"></script>
			<!-- Social-feed js -->
			<script src="/bower_components/social-feed/js/jquery.socialfeed.js"></script>
			<script>
			    jQuery(document).ready(function(){
			        jQuery('.social-feed-main').socialfeed({
					    facebook:{
					        accounts: ['!{{ site.data.socialfeed.facebook_account }}'],  //Array: Specify a list of accounts from which to pull wall posts
					        limit: {{ site.data.socialfeed.facebook_limit }},                                   //Integer: max number of posts to load
					        access_token: '{{ site.data.socialfeed.facebook_access_token }}'  //String: "APP_ID|APP_SECRET"
					    },
			            // GENERAL SETTINGS
			            length: 500,                                      //Integer: For posts with text longer than this length, show an ellipsis.
			            date_format: "MMMM D, YYYY h:mm a",
				    show_media: true
			        });
			    });
					jQuery(document).keyup(function(e) {
					     if (e.keyCode == 27) { // escape key maps to keycode `27`
					        document.getElementById('overlay').style.display = 'none';
					    }
					});
			</script>
	</body>
</html>
