					<section id="footer">
						<ul class="icons">
							<li><a href="https://twitter.com/{{ site.data.main.twitter_username }}" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://facebook.com/{{ site.data.main.facebook_username }}" class="fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="mailto:{{ site.data.main.email }}" class="fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; {{ site.data.main.title }}</p>
					</section>