	<head>
		<title>{{ site.data.main.title }}</title>
		<meta charset="utf-8" />
		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="{{ site.data.main.title }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="google-site-verification" content="cJonfntPVH8fKyFH18LDS-qSHuaZxyzZ6hRh7wcBVbE" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<!-- Social-feed css -->
		<link href="/bower_components/social-feed/css/jquery.socialfeed.css" rel="stylesheet" type="text/css">
	</head>
